OPENROUTER_API_KEY=

OPENROUTER_DEFAULT_MODEL=
OPENROUTER_DEFAULT_MAX_TOKENS=


OPENROUTER_SINGLE_TOOL_MODEL=
OPENROUTER_SINGLE_TOOL_MAX_TOKENS=

OPENROUTER_JOURNEY_NODE_MODEL=
OPENROUTER_JOURNEY_NODE_MAX_TOKENS=

OPENROUTER_CANNED_RESPONSE_DRAFT_MODEL=
OPENROUTER_CANNED_RESPONSE_DRAFT_MAX_TOKENS=

OPENROUTER_CANNED_RESPONSE_SELECTION_MODEL=
OPENROUTER_CANNED_RESPONSE_SELECTION_MAX_TOKENS=


OPENROUTER_EMBEDDING_MODEL=
OPENROUTER_EMBEDDING_API_KEY=
OPENROUTER_EMBEDDING_DIMENSIONS=
OPENROUTER_EMBEDDING_BASE_URL=

MONGODB_URL=
AGENT_CONFIGS_HOST=